Imágenes para el juego/baldosa1.png
Imágenes para el juego/bg_002.aseprite
Imágenes para el juego/bg_chapter_01_intro.aseprite
Imágenes para el juego/bg_chapter_01_intro.png
Imágenes para el juego/bg_chapter_01.png
Imágenes para el juego/bg_chapter_02.png
Imágenes para el juego/bg_menu.aseprite
Imágenes para el juego/Clipboard_03-12-2025_02.jpg
Imágenes para el juego/DALL·E 2025-03-11 20.47.02 - A seamless pixel art pattern of grass with small flowers, using a color palette of blues, greens, and violets. The grass is composed of various shades.webp
Imágenes para el juego/eko-snake.png
Imágenes para el juego/eko-snake00.png
Imágenes para el juego/fondo.aseprite
Imágenes para el juego/Gemini_Generated_Image_23wlbf23wlbf23wl.jpeg
Imágenes para el juego/Gemini_Generated_Image_l3d9itl3d9itl3d9.jpeg
Imágenes para el juego/pasto.aseprite
Imágenes para el juego/pasto.png
Documento de Diseño ECO-Snake de HISQUE Games.md
gb.jpg
Gemini_Generated_Image_vn4sb7vn4sb7vn4s.jpeg
HISQUE_Gamess_Colors.aco
InformeTutorial.md
