/* Definición de variables globales con los colores y fuentes de HISQUE Estudio */
:root {
  --global-color-primary: #0C1014;
  --global-color-secondary: #2CFFA5;
  --global-color-text: #FF2759;
  --global-color-accent: #8811FF;
  --global-color-yellow: #FFBD10;
  --global-color-white: #FFFFFF;
  --global-color-gray-light: #E1E1E1;
  --global-color-blue-electric: #4A4BFF;
  --global-color-gray-dark: #1D2025;
  --global-color-black-gray: #111823;

  --global-font-primary: "Raleway", sans-serif;
  --global-font-accent: "Poppins", sans-serif;
}

/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo base del body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--global-font-primary);
  line-height: 1.6;
  background-color: var(--global-color-primary);
  color: var(--global-color-text);
}

/* Encabezado */
header {
  background-color: var(--global-color-primary);
  padding: 10px 20px;
  border-bottom: 1px solid var(--global-color-gray-light);
  text-align: center;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
}

.hisque-logo {
  max-height: 50px;
}

/* Contenido principal */
main {
  flex: 1;
  padding: 20px;
}

/* Contenedor principal con disposición flexible */
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px); /* Ajuste considerando header y footer */
  gap: 20px;
  padding: 20px;
}

/* Sección del juego */
#game-container {
  /* width: 50%; */
  max-width: 480px;
  aspect-ratio: 1;
  background-color: var(--global-color-black-gray);
  border: 2px solid var(--global-color-gray-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Información del juego */
.game-info {
  width: 50%;
  max-width: 480px;
  text-align: left;
}

.game-info h1 {
  font-family: var(--global-font-accent);
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--global-color-secondary);
}

.game-info p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: var(--global-color-white);
}

/* Diseño responsive: en pantallas pequeñas, se apilan */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    height: auto;
  }
  .game-info, #game-container {
    width: 100%;
    max-width: none;
  }
}

/* Pie de Página */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0C101400;
  /* border-top: 1px solid var(--global-color-gray-light); */
  text-align: center;
  padding: 10px 0;
}

#menu-button {
  background: none;
  border: none;
  font-size: 24px;
  color: var(--global-color-text);
  cursor: pointer;
}

/* Popup del Menú */
#popup-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup-menu.hidden {
  display: none;
}

.popup-inner {
  background-color: var(--global-color-primary);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.popup-header {
  text-align: right;
}

#close-popup {
  background: none;
  border: none;
  font-size: 24px;
  color: var(--global-color-text);
  cursor: pointer;
}

#popup-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup-option {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--global-color-primary);
  border: 1px solid var(--global-color-primary);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--global-color-text);
  text-align: left;
}

.popup-option:hover {
  background-color: var(--global-color-accent);
  color: var(--global-color-white);
}

.popup-option .icon {
  font-size: 20px;
  margin-right: 10px;
}

/* Vista detalle del popup */
#popup-detail {
  margin-top: 20px;
}

.popup-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-detail-header button {
  background: none;
  border: none;
  font-size: 24px;
  color: var(--global-color-text);
  cursor: pointer;
}

#popup-detail-content {
  margin-top: 15px;
  font-size: 1rem;
  color: var(--global-color-primary);
  background-color: var(--global-color-gray-light);
}

/* Estilos para el acordeón del popup */
.accordion-button {
  background-color: var(--global-color-secondary);
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: var(--global-color-primary);
}

.accordion-button:hover {
  background-color: var(--global-color-secondary);
}

.accordion-content {
  background-color: var(--global-color-gray-dark);
  padding: 10px;
  display: none;
  overflow: hidden;
  color: var(--global-color-secondary);
}
.accordion-content a{
  color: var(--global-color-gray-light);
}

.accordion-content.hidden {
  display: none;
}

.accordion-content:not(.hidden) {
  display: block;
}

/* Diseño responsive para popup */
@media (max-width: 600px) {
  .popup-inner {
    width: 95%;
    padding: 15px;
  }
  
  #game-container {
    max-width: 100%;
  }
}
